body {
  font-size: 1.2em;
  background-color: rgb(198, 241, 227);
}

#preview {
  width: 70%;
  max-width: 90%;
}

#preview h1 {
  border-bottom: 3px solid black;
  margin-bottom: 0.7em;
  padding-bottom: 0.1em;
}

#preview h2 {
  border-bottom: 2px solid black;
  margin-bottom: 0.5em;
  padding-bottom: 0.1em;
}

.title {
  font-size: 1.1em;
  font-family: "Share Tech Mono", serif;
}

#preview p {
  white-space: pre-wrap;
}

code {
  background-color: white;
  display: inline-block;
}

.bg-text {
  background-color: #ade0c0;
}

.bg-title {
  background-color: #50a770;
}

td,
th {
  border: 1px solid black;
  padding: 0.2em 0.7em 0.2em 0.7em;
}

table {
  margin-bottom: 1em;
}

blockquote {
  border-left: 4px solid mediumaquamarine;
  margin-left: 2em;
  padding-left: 0.7em;
}

#preview img {
  display: block;
  max-width: 90%;
  margin: 1em auto;
}
